{{#each row in rows}}
<tr>
  {{#each column in columns}}
    <td>
      {{#if column.linkTo}}
        <a href="{{column.linkTo}}{{get-property row column}}">
          {{get-property row column}}
        </a>
      {{else}}
        {{get-property row column}}
      {{/if}}
    </td>
  {{/each}}
</tr>
{{/each}}
